.container{
    color:white;
     background-image: url("photo.jpg ");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-color: rgba(212, 23, 40, 0.8);
      background-blend-mode: overlay;
    padding-top: 10px;
    padding-bottom:10px;
    


}
cite{
    color:rgb(21, 21, 197);
}